<!--breadcrumbs start-->
<div class="large-hr"></div>
<!--breadcrumbs end-->

<div class="container">
  <div class="row mar-b-50">
    <div class="col-md-12">
      <div class="text-center feature-head wow fadeInDown">
        <h1 class="">
          welcome to Acme
        </h1>

      </div>


      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              <span class="highlight-1">
                Curabitur bibendum ornare dolor
              </span>
        quis ullamcorper ligula sodales at. Nulla tellus elit, varius non commodo eget, mattis vel eros. In sed ornare nulla. Nullam quis risus eget urna mollis ornare vel eu leo.
              <span class="highlight-2">
                Cum sociis natoque penatibus et magnis dis
              </span>
        parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis,
              <span class="highlight-3">
                est non commodo luctus, nisi erat porttitor ligula
              </span>
        , eget lacinia odio sem nec elit. Donec sed odio dui.
      </p>

      <!--feature end-->
    </div>
  </div>
</div>